[apply]
  whitespace = fix

[color "branch"]
  current = yellow bold reverse
  local = yellow
  remote = magenta
[color "diff"]
  meta = yellow bold
  commit = cyan bold
  frag = magenta bold
  old = red bold
  new = cyan bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold reverse
  newNormal = cyan bold
  newHighlight = cyan bold reverse
[color "status"]
  added = yellow
  changed = cyan
  untracked = yellow

[core]
  excludesfile = ~/.gitignore
  whitespace = space-before-tab,trailing-space
  autocrlf = false
  pager = less --tabs=4 -RFX
  untrackedCache = true ; https://git-scm.com/docs/git-update-index#_untracked_cache
  editor = /usr/local/bin/nvim

[diff]
  algorithm = patience
  context = 5

[grep]
  lineNumber = true

[help]
  autocorrect = -1

; [interactive]
;   TODO doesn't quite work yet
;   diffFilter = diff-so-fancy | less --tabs=4 -RFX
;   TODO how to add `context` here?
;   context = 5

[merge]
  log = true
  tool = vimdiff

[mergetool]
  keepBackup = false

[push]
  default = current
  followTags = true

[user]
  useconfigonly = true
  signingkey = FB90FCBDBACCC13E737D93D343BB7E5D51D3326C

[gpg]
  program = gpg

[commit]
  gpgsign = true
