[apply]
  whitespace = fix

[core]
  excludesfile = ~/.gitignore
  whitespace = space-before-tab,trailing-space
  autocrlf = false
  pager = less --tabs=4 -RFX
  untrackedCache = true ; https://git-scm.com/docs/git-update-index#_untracked_cache
  editor = /usr/local/bin/nvim

[diff]
  algorithm = patience
  context = 5

[grep]
  lineNumber = true

[help]
  autocorrect = -1

[merge]
  log = true
  tool = vimdiff

[mergetool]
  keepBackup = false

[push]
  default = current
  followTags = true

[user]
  useconfigonly = true
  signingkey = FB90FCBDBACCC13E737D93D343BB7E5D51D3326C
  name = axelav
  email = axel@ftml.net

[gpg]
  program = gpg

[commit]
  gpgsign = true

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
