[apply]
  whitespace = fix

[branch]
	sort = -committerdate

[core]
  excludesfile = ~/.gitignore
  whitespace = space-before-tab,trailing-space
  autocrlf = false
  pager = delta
  untrackedCache = true ; https://git-scm.com/docs/git-update-index#_untracked_cache
  editor = /opt/homebrew/bin/nvim

[diff]
  algorithm = patience # `histogram` is also a popular choice
  context = 5

[grep]
  lineNumber = true

[help]
  autocorrect = prompt

[interactive]
  diffFilter = delta --color-only
  singleKey = true

[merge]
  log = true
  tool = vimdiff
  conflictstyle = zdiff3

[mergetool]
  keepBackup = false

[pull]
	rebase = true

[push]
  default = current
  followTags = true
  autoSetupRemote = true

[user]
  useconfigonly = true
  signingkey = DC554221637310511B748922A1AE98787D25F143
  name = Axel Anderson
  email = axel@ftml.net

[gpg]
  program = /opt/homebrew/bin/gpg

[commit]
  gpgsign = true
  verbose = true

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[init]
	defaultBranch = main

[rerere]
	enabled = true
