#!/usr/bin/env bash

# easier navigation
alias ~="cd ~" # `cd` is probably faster to type though
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
alias -- -="cd -"

alias ls="command ls --color"

# utilities
alias cask="brew cask"
alias du="du -h -d 1"
alias fs="stat -c \"%s bytes\"" # file size
alias grep='GREP_COLOR="1;37;45" LANG=C grep --color=auto'
alias h="history"
alias init='echo "{\"devDependencies\": { \"standard\": \"^10.0.3\" }}" > package.json && git init'
alias j="jobs -l"
alias l="ls -FlhX"
alias m="mutt"
alias mplayer="mplayer 2> /dev/null" # temporary fix to suppress warnings about deprecated audio library mplayer uses
alias mv="mv -iv"
alias o="open"
alias oo="open ."
alias pgsync="pass git pull && git push"
alias pianobar="pianobar 2> /dev/null"  # temporary fix to suppress warnings about deprecated audio library pianobar uses
alias ps='ps -ax'   # view all processes
# alias rm="rm -vi"   # always be verbose & interactive when rm'ing
alias rm="trash"
alias t="touch"
alias timestamp="date +%Y%m%d%H%M%S"
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; npm update npm -g; npm update -g' # os updates; homebrew, npm & packages
alias dagds='cat *.m3u | while read i; do wget $i; done' ## download a grateful dead show from archive.org

# git
alias gpfl="git push --force-with-lease"
alias gbdf="git branch -D"
alias ggarbage="git reflog expire --expire=now --all && git gc --prune=now"
alias git="hub"
alias gloc="git ls-files | xargs wc -l"
alias gpr="git pull-request -o"
alias gpup="git fetch origin -v; git fetch upstream -v; git merge upstream/master" # http://gitready.com/intermediate/2009/02/12/easily-fetching-upstream-changes.html
alias gsync="git pull && git push"
alias gu="git reset --soft HEAD~1" # http://stackoverflow.com/questions/927358/undo-the-last-git-commit
alias gundomerge="git reset --merge HEAD~1"
alias gundopush="git push -f origin HEAD^:master"
alias gwipe="git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard" # `git reflog` to find sha of unreachable commit this creates; commit msg 'wipe savepoint'

# enable aliases to be sudo'd
alias sudo='sudo '

# stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# networking
# per support.apple.com, this is the new command: http://support.apple.com/kb/ht5343
alias flush="killall -HUP mDNSResponder" # flush Directory Service cache
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"
alias localip="ipconfig getifaddr en0"
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias networkmap="nmap -v -sn 192.168.1.0/24"
alias whazzup="nmap -v -sn 192.168.1.0/24 | grep -B 1 'host is up'" # view all devices connected to local network

# recursively delete `.ds_store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# archive & extract archives
alias ztar="tar -cvzf" #new_file *.txt
alias uztar="tar -zxvf"

# empty the trash on all mounted volumes and the main hdd
# also, clear system logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# show/hide hidden files in finder
alias show="defaults write com.apple.finder AppleShowAllFiles TRUE && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles FALSE && killall Finder"

# hide/show all desktop icons
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# enable/disable spotlight
alias spotoff="sudo mdutil -a -i off"
alias spoton="sudo mdutil -a -i on"

# one of @janmoesen's protip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "$method"="http '$method'"
done
