#!/usr/bin/env bash

# path
PATH="/usr/local/bin"
PATH="$PATH:/usr/local/opt/coreutils/libexec/gnubin"
PATH="$PATH:/usr/bin"
PATH="$PATH:/bin"
PATH="$PATH:/usr/sbin"
PATH="$PATH:/sbin"
PATH="$PATH:/usr/local/sbin"
export PATH

# manpath
MANPATH="/usr/local/opt/coreutils/libexec/gnuman:$MANPATH"
export MANPATH

# homebrew cask
export HOMEBREW_CASK_OPTS="--appdir=~/Applications"

# manually set term for screen
export TERM="xterm-256color"

# use vim as default editor
export EDITOR="nvim"

# don't clear the screen after quitting a manual page
export MANPAGER="less -X"

# highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd:exit:date:* --help:h:history"

# prefer us english and use utf-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"
