# compiled python files
*.pyc

# folder view configuration files
.DS_Store
Desktop.ini

# thumbnail cache files
._*
Thumbs.db

# files that might appear on external disks
.Spotlight-V100
.Trashes

# keep .extra & .ssh/ file out of repo
.extra
.ssh/
.env

# vendor files
node_modules/
vendor/
bower_components/

# local vimrc overrides
.local_vimrc

# miscellaneous
todo.md

# vim sessions
Session.vim
