[alias]
  a         = add -A
  alias     = config --get-regexp ^alias\\.
  ap        = add -p
  b         = !clear && echo 'Current branches: \n' && git branch -avv
  bd        = branch -d
  cl        = clone
  co        = checkout
  cop       = checkout -p
  d         = diff
  dc        = diff --cached
  ds        = diff --stat
  fp        = fetch --prune
  garbage   = !git reflog expire --expire=now --all && git gc --prune=now
  l         = !clear && git log --graph --decorate --pretty=oneline -n 30 --abbrev-commit
  la        = log --graph --decorate --pretty=oneline --abbrev-commit --all
  loc       = !git ls-files | xargs wc -l
  lp        = log -p
  m         = commit -m
  pop       = stash pop
  # REF: http://gitready.com/intermediate/2009/02/12/easily-fetching-upstream-changes.html
  pup       = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
  rev       = remote -v
  s         = !clear && git status -sb
  st        = !clear && git status
  sync      = !git pull && git push
  # REF: http://stackoverflow.com/questions/927358/undo-the-last-git-commit
  undo      = reset --soft HEAD~1
  undomerge = reset --merge HEAD~1
  undopush  = push -f origin HEAD^:master
  update    = !git pull --rebase --prune $@
  # NOTE: `git reflog` to find sha of unreachable commit this creates; commit msg 'wipe savepoint'
  wipe      = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard

[apply]
  # detect whitespace errors when applying a patch
  whitespace = fix

[core]
  # use custom `.gitignore` and `.gitattributes`
  excludesfile = ~/.gitignore
  # treat spaces before tabs and all kinds of trailing whitespace as an error
  whitespace = space-before-tab,trailing-space
  autocrlf = input
  # npm install -g diff-so-fancy
  pager = diff-highlight | diff-so-fancy | less --tabs=1,5 -R
  # https://git-scm.com/docs/git-update-index#_untracked_cache
  untrackedCache = true

[color]
  ui = always
[color "branch"]
  current = blue reverse
  local = yellow
  remote = magenta
[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold reverse
  newNormal = green bold
  newHighlight = green bold reverse
[color "status"]
  added = yellow
  changed = green
  untracked = red

[grep]
  lineNumber = true

[merge]
  # include summaries of merged commits in newly created merge commit messages
  log = true

[diff]
  algorithm = patience

[push]
  default = current
  followTags = true

[help]
  autocorrect = -1

[user]
  useconfigonly = true

# check that anything we're getting is complete and sane on a regular basis
[transfer]
  fsckobjects = true
[fetch]
  fsckobjects = true
[receive]
  fsckObjects = true
