#!/usr/bin/env zsh

# easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
alias -- -="cd -"

# lsd
if type lsd >/dev/null 2>&1; then
  alias l='lsd -A --group-dirs first'
  alias ll='lsd -l --group-dirs first'
  alias la='lsd -la --group-dirs first'
  alias lt='lsd --tree'
else
  alias l='ls -ah --group-directories-first'
  alias ll='ls -l --group-directories-first'
  alias la='ls -la --group-directories-first'
fi

# utilities
alias b="bat"
alias c="code ."
alias du="du -h -d 1"
alias fs="stat -c \"%s bytes\""
alias grep='GREP_COLOR="1;37;45" LANG=C grep --color=auto'
alias h="history"
alias j="jobs -l"
alias k="cd $HOME/Documents/kaizen/"
alias m="mutt"
alias mv="mv -iv"
alias o="open"
alias oo="open ."
alias ps="ps -ax"
alias rm="rm -v"
alias s="cd ~/s"

alias gan="git add -N"

# tig
alias t="tig"
alias ta="tig --all"

# lazygit
alias gg="lazygit"

alias datestamp="date +%Y%m%d"
alias timestamp="date +%Y%m%d%H%M%S"

# enable aliases to be sudo'd
alias sudo="sudo "

# networking
# per support.apple.com, this is the new command: http://support.apple.com/kb/ht5343
alias flush="killall -HUP mDNSResponder" # flush Directory Service cache
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""
alias ip="curl https://ipinfo.io/ip"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"
alias localip="ipconfig getifaddr en1"
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"

# recursively delete `.ds_store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# empty the trash on all mounted volumes and the main hdd
# also, clear system logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# show/hide hidden files in finder
alias show="defaults write com.apple.finder AppleShowAllFiles TRUE && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles FALSE && killall Finder"

# one of @janmoesen's protip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
  alias "$method"="http '$method'"
done
