#!/usr/bin/env zsh

# emacs
alias e='emacsclient -t'
alias ec='emacsclient -c'
# alias vim='emacsclient -t'
# alias vi='emacsclient -t'

# easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
alias -- -="cd -"

alias ls="command ls --color --group-directories-first"

# utilities
alias cask="brew cask"
alias du="du -h -d 1"
# alias e="nvim $1 -c Goyo"
alias fs="stat -c \"%s bytes\""
alias grep='GREP_COLOR="1;37;45" LANG=C grep --color=auto'
alias h="history"
alias j="jobs -l"
alias k="kubectl -n"
alias l="ls -FAX"
alias ll="ls -lhX"
alias la="ls -lhXA"
alias m="mutt"
alias mv="mv -iv"
alias o="open"
alias oo="open ."
alias ps="ps -ax"
alias rm="rm -v"
alias s="cd ~/s"
alias t="touch"
alias timestamp="date +%Y%m%d%H%M%S"
alias datestamp="date +%Y%m%d"
alias draft="touch $(timestamp).md"

alias dagds='cat *.m3u | while read i; do wget $i; done' ## download a grateful dead show from archive.org

# git
alias gbd="git branch -D"
alias gii='git add --intent-to-add'
alias glo='git log --topo-order --pretty=format:"${_git_log_oneline_format}" -n 25'
alias gla='git log --graph --all --pretty=format:"${_git_log_oneline_format}"'
alias gloc="git ls-files | xargs wc -l"
alias gpf="git push --force-with-lease"
alias gpup="git fetch origin -v; git fetch upstream -v; git merge upstream/master" # http://gitready.com/intermediate/2009/02/12/easily-fetching-upstream-changes.html
alias gu="git reset --soft HEAD~1" # http://stackoverflow.com/questions/927358/undo-the-last-git-commit
alias gum="git reset --merge HEAD~1"
alias gup="git push -f origin HEAD^:master"
alias gwip="git commit --no-verify -am '!! WIP !! [ci skip]'"
alias gwipe="git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard" # `git reflog` to find sha of unreachable commit this creates; commit msg 'wipe savepoint'
alias grecap="git for-each-ref --sort='-authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads"

# enable aliases to be sudo'd
alias sudo="sudo "

# stopwatch
alias timer="echo 'Timer started. Stop with Ctrl-D.' && date && time cat && date"

# networking
# per support.apple.com, this is the new command: http://support.apple.com/kb/ht5343
alias flush="killall -HUP mDNSResponder" # flush Directory Service cache
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"
alias localip="ipconfig getifaddr en0"
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"

# recursively delete `.ds_store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# empty the trash on all mounted volumes and the main hdd
# also, clear system logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# show/hide hidden files in finder
alias show="defaults write com.apple.finder AppleShowAllFiles TRUE && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles FALSE && killall Finder"

# one of @janmoesen's protip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
  alias "$method"="http '$method'"
done
