#!/usr/bin/env zsh

# path
PATH="/usr/local/bin"
PATH="$PATH:/usr/local/opt/coreutils/libexec/gnubin"
PATH="$PATH:/usr/local/opt/findutils/libexec/gnubin"
PATH="$PATH:/usr/local/opt/gnu-sed/libexec/gnubin"
PATH="$PATH:/bin"
PATH="$PATH:/usr/bin"
PATH="$PATH:/usr/sbin"
PATH="$PATH:/sbin"
PATH="$PATH:/usr/local/sbin"
PATH="$PATH":~/bin
export PATH

# manpath
MANPATH="/usr/local/opt/coreutils/libexec/gnuman:$MANPATH"
export MANPATH

# homebrew cask
# export HOMEBREW_CASK_OPTS="--appdir=~/Applications"

# manually set term for screen
export TERM="xterm-256color"

# use vim as default editor
export EDITOR="nvim"

# don't clear the screen after quitting a manual page
export MANPAGER="less -X"

# highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd:exit:date:* --help:h:history"

# prefer us english and use utf-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# filter ignored files from FZF
export FZF_DEFAULT_COMMAND='rg --files --hidden --follow --glob "!.git/*"'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

# https://dougblack.io/words/zsh-vi-mode.html
export KEYTIMEOUT=1

# yarn
export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"
