#!/usr/bin/env zsh

# path
PATH="/opt/homebrew/bin"
PATH="$PATH:/opt/homebrew/sbin"
PATH="$PATH:/opt/homebrew/opt/coreutils/libexec/gnubin"
PATH="$PATH:/opt/homebrew/opt/findutils/libexec/gnubin"
PATH="$PATH:/bin"
PATH="$PATH:/usr/bin"
PATH="$PATH:/usr/local/bin"
PATH="$PATH:/usr/sbin"
PATH="$PATH:/sbin"
PATH="$PATH:$HOME/bin"
PATH="$PATH:$HOME/.local/bin"
export PATH

# manpath
MANPATH="/opt/homebrew/opt/coreutils/libexec/gnuman:$MANPATH"
export MANPATH

# use vim as default editor
export EDITOR="nvim"

# don't clear the screen after quitting a manual page
export MANPAGER="less -X"

# highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd:exit:date:* --help:h:history"

# prefer us english and use utf-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# filter ignored files from FZF
export FZF_DEFAULT_COMMAND='rg --files --hidden --follow --glob "!.git/*"'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

# rust
export PATH="$HOME/.cargo/bin:$PATH"

# solana
export PATH="$HOME/.local/share/solana/install/active_release/bin:$PATH"
